.header_paddingmenuleft {
	margin-left: 10%;
	
}
.header_paddingmenuright {
	margin-right: 5%;
}
.marginmenuright {
	padding-left: 500px;

}
.carouselimg {
	padding-left: 40%;
}
.carouselimg2 {
	padding-left: 35%;
}
.caraouseltext {
	padding-top: 200px;
}